---
import type { Category, Subcategory } from "../utils/data";
import CategoryCard from "./CategoryCard.astro";

const { category, subcategory } = Astro.props as { category: Category; subcategory: Subcategory };
---

<section class="section">
  <div class="mx-auto w-full max-w-6xl">
    <h2 class="text-2xl font-semibold">Explore subcategories</h2>
    <div class="mt-6 grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      {subcategory.subcategories.map((childsubcategory) => (
        <CategoryCard
          category={category}
          parentSubcategory={subcategory}
          childsubcategory={childsubcategory}
        />
      ))}
    </div>
  </div>
</section>
