---
import type { Category } from "../utils/data";
import CategoryCard from "./CategoryCard.astro";

const { category } = Astro.props as { category: Category };
---

<section class="section">
  <div class="page-container">
    <h2 class="text-2xl font-semibold">Explore subcategories</h2>
    <div class="mt-6 grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      {category.subcategories.map((subcategory) => (
        <CategoryCard category={category} subcategory={subcategory} />
      ))}
    </div>
  </div>
</section>
